/* 
    Admin style
*/

/* Sidebar */
.admin__preview {
    display: flex;
    width: 100%;
    height: 100%;
    background: #eff1f7;
    align-items: flex-start;
}

.right-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sidebar {
    width: 360px;
    height: 100%;
    display: flex;
    background: var(--white-color);
    flex-direction: column;
    border-right: 4px solid rgba(221, 164, 164, 0.562);
}

.sidebar__log__box {
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-image {
    width: 50%;
    height: 50%;
    object-fit: contain;
}

.sidebar__menu {
    padding: 16px 8px;
}

.sidebar__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tab__page-item {
    width: 100%;
}

.tab__page-menu {
    font-size: 22px;
    font-weight: 700;
    padding: 16px;
    display: block;
    cursor: default;
    color: #676B84;
}

.page__list {
    width: 100%;
    padding-left: 58px;
}

.page__link {
    display: block;
    width: 100%;
    padding: 12px 0;
    font-size: 18px;
    color: #676B84;
}

.tab__page__active {
    color: #3079b8;
}

/* Header */
.header {
    width: 100%;
    height: 130px;
    background: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.search__field  {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    border-radius: 28px;
    background: var(--blue-white-color);
}

.search__field__submit {
    font-size: 16px;
    font-weight: 500;
    color: var;
    color: var(--text-color);
    padding: 4px 12px 4px 4px;
}   

.search__field__input {
    flex-grow: 2;
    width: 100%;
    border: none;
    outline: none;
    color: var(--text-color);
    font-size: 20px;
    background: var(--blue-white-color);
}


.admin__field {
    display: flex;
    align-items: center;
    padding: 8px;
}

.admin-avatar {
    width: 50px;
    height: 50px;
}

.admin-username {
    margin-right: 18px;
    font-size: 20px;
    color: var(--gray-text-color);
    position: relative;
}

.admin__action-list {
    position: absolute;
    min-width: 200px;
    top: 20%;
    right: 80px;
    background: #5675a4;
    padding: 12px;
    border-radius: 12px;
    display: none;
}

.admin__action-list::before {
    content: '';
    position: absolute;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent #5675a4 transparent;
    top: -27px;
    right: 27px;
}

.admin__action-item {
    width: 100%;
}

.admin__action-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 2;
    color: var(--white-color);
    font-size: 16px;
    padding: 12px;
}

.admin__field:hover .admin__action-list {
    display: block;
}

/* 
    Content wrapper
*/

/* Stretch card */
.content__wrapper {
    width: 100%;
    height: 100%;
    padding: 30px;
}

.stretch__card {
    display: flex;
    flex-direction: column;
    height: 150px;
    background: var(--white-color);
    border-radius: 12px;
    margin: 0 12px;
    padding: 30px 50px;
}

.stretch__card__heading {
    height: 50%;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.stretch__card__body {
    font-size: 30px;
    line-height: 30px;
    color: var(--gray-white-color);
    font-weight: 600;
}

/* Client log */
.client__log {
    width: 100%;
    padding: 24px;
    background: var(--white-color);
    border-radius: 12px;
}

.client__log h3 {
    font-size: 20px;
    letter-spacing: 1px;
    color: var(--gray-text-color);
}

.client__log-table {
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
}


.table__column {
    width: calc((100% - 60px)/2);
    text-align: start;
    padding: 16px;
    font-weight: 500;
    background: #4885a2;
    color: var(--white-color);
}

.table__column:first-of-type {
    width: 60px;
    border-top-left-radius: 12px;
}

.user__log__name {
    display: flex;
    align-items: center;
}

.user__log__thumb {
    width: 28px;
    height: 28px;
    margin-right: 8px;
}

.row__cell {
    width: calc((100% - 60px)/2);
    text-align: start;
    padding: 16px;
    font-weight: 500;
    line-height: 28px;
}

.row__cell:first-of-type {
    width: 60px;
}

/* chart */
.chart__box {
    background: var(--white-color);
    padding: 24px;
    margin-left: 18px;
    border-radius: 12px;
}