/* header */
.header {
    height: var(--header-height);
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--white-color);
    z-index: 2;
}

.nav__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: var(--header-height);
}

.logo__wrapper {
    max-width: 250px;
}

.logo__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo__image {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.nav__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 2;
    justify-content: flex-end;
}

.nav__list-item {
    font-size: 14px;
    padding: 16px 0;
    text-transform: uppercase;
    width: auto;
    cursor: pointer;
    position: relative;
}

.nav__list-item:hover .nav__list-link{
    color: var(--header-hover);
}

.nav__list-link {
    padding: 16px 12px;
    color: var(--gray-text-color);
}

.nav__list-link i {
    margin-left: 4px;
}
/* Banner */
.banner {
    width: 100%;
    height: 370px;
}

.banner-linear-gradient {
    background: linear-gradient(45deg, rgba(59,89,152,1) 0%, rgb(125,117,131) 100%);
}

.banner__title {
    width: 100%;
    height: 110px;
    color: var(--white-color);
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
}

/* Header user action */
.nav__user__action {
    position: absolute;
    min-width: 160px;
    height: auto;
    top: 40px;
    left: 0;
    background: var(--white-color);
    padding: 8px 12px;
    font-size: 13px;
    border-radius: 8px;
    box-shadow: 1px 3px 3px rgb(0 0 0 / 15%);
    z-index: 3;
    display: none;
}

.user__action-item {
    display: flex;
    padding: 8px 4px;
    color: var(--gray-text-color);
}

.user__action-item:first-of-type i {
    padding-right: 14px;
}

.user__action-item:hover {
    color: var(--header-hover);
}

.nav__list-item:hover .nav__user__action {
    display: block;
}

/* Notification */
.nav__notification {
    position: absolute;
    background: var(--white-color);
    min-width: 250px;
    top: 40px;
    text-transform: lowercase;
    border-radius: 8px;
    box-shadow: 1px 3px 3px rgb(0 0 0 / 15%);
    display: none;
}

.nav__notification-item {
    width: 100%;
    height: 100%;
}

.nav__notification-link {
    display: flex;
    align-items: center;
    padding: 12px 12px;
    padding-left: 8px;
    font-size: 15px;
    color: var(--gray-text-color);
}

.notification__content {
    padding-left: 8px;
}

.notification__username {
    text-transform: uppercase;
}

.notification__none-read {
    width: 12px;
    height: 8px;
    background: #6e74c3;
    border-radius: 23px;
}

.none-read {
    background: #f4f4f4;
}

.nav__list-item:hover .nav__notification {
    display: block;
}

/* article text  */
.section {
    width: 100%;
}

.section-text {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

/* footer */
.footer {
    padding: 30px 0;
    background: #323437;
}

.footer__contact {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    font-size: 16px;
    color: var(--white-color);
}

.social__contact {
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
}

.social__contact label {
    padding-right: 12px;
}

.social__contact i {
    color: var(--white-color);
    padding: 8px;
    font-size: 18px;
}

.copyright {
    text-transform: uppercase;
    font-size: 13px;
    color: #eaeaea;
}

/* modal login, signup */
.modal__body {
    width: 444px;
    min-height: 450px;
    margin-top: calc(var(--header-height) + 30px);
}

.modal__form__heading {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 66px;
}

.form__heading__box {
    flex-grow: 2;
    text-align: center;
    font-size: 34px;
    padding: 12px 0 20px;
    cursor: pointer;
}

.form__active {
    border-bottom: 2px solid #21bdf6;
}

.modal__form {
    padding: 20px 40px;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
}

.form-group > label {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 8px 0;
}

.form-group > div {
    border-top: 1px solid #ccc;
}

.form-group.forgot__pass {
    border-top: 1px solid #e3e3e3;
    margin-top: 36px;
    display: flex;
    align-items: center;
    padding-top: 20px;
    font-size: 1.3rem;
    font-style: italic;
}

.form-group.forgot__pass a {
    color: #333;
    padding: 8px 20px;
}

.form-input {
    padding: 10px;
    font-size: 1.8rem;
    outline: none;
    border-radius: 8px;
    border: 1px solid #f0f0f0;
    background: #f0f0f0;
}

.form-input:focus {
    transition: 0.4s;
    border: 1px solid var(--primary-color);
}

.modal__error__message {
    text-align: center;
    font-size: 1.3rem;
    color: #cd1d1d;
}

.modal__form__submit-button {
    padding: 14px;
    font-size: 2rem;
    border-radius: 30px;
    outline: none;
    border: none;
    background: var(--primary-color);
    color: #fff;
}

/* Seach tool */
.top__search__box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 8px;
}

.search__box {
    display: flex;
    align-items: center;
    width: 95%;
    font-size: 20px;
    border: 1px solid #bababa;
    border-radius: 28px;
    padding: 0 20px;
    background: #f8f8f8;
    color: var(--gray-text-color);
    outline: none;
}

.search__box a {
    padding: 8px 12px;
    color: var(--black-color);
}

.search__input {
    border: none;
    outline: none;
    font-size: 18px;
    flex-grow: 2;
    padding: 14px 20px;
    background: #f8f8f8;
    color: var(--gray-text-color);
}

/* Post */
.post__box {
    width: 100%;
    min-height: 200px;
    margin-top: 30px;
}

.post__box-body {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
}

.post__heading {
    width: 100%;
    display: flex;
    height: 48px;
    padding-bottom: 12px;
}

.post__heading figure {
    width: 40px;
    height: 40px;
    border-radius: 28px;
}

.post__avatar {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.post__owner {
    font-size: 16px;
    color: var(--text-color);
    padding-bottom: 8px;
}

.post__time {
    font-size: 12px;
}

.post__mode {
    margin-left: 12px;
    font-size: 9px;
    background: #e8e8e8;
    padding: 0px 16px;
    border-radius: 12px;
}

.post__setting {
    position: relative;
}

.post__setting i {
    padding: 4px 12px;
    background: #e8e8e8;
    border-radius: 12px;
    font-size: 14px;
    transform: translateY(50%);
}

.post__setting-list {
    position: absolute;
    width: 160px;
    background: var(--blue-white-color);
    top: 38px;
    right: 0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    display: none;
    z-index: 4;
}

.post__setting-list::before {
    content: '';
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    top: -10px;
    color: transparent;
}

.post__setting-select {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px;
    font-size: 16px;
}

.post__setting-select:last-of-type {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.post__setting-select:hover {
    background: var(--white-color);
    color: var(--gray-text-color);
}

.post__setting:hover .post__setting-list {
    display: block;
}

.post__content {
    font-size: 18px;
    padding-top: 10px;
    width: 100%;
    height: auto;
    line-height: 24px;
    color: var(--gray-text-color);
}

.post__box-image {
    width: 100%;
    height: auto;
}

.post__box-image img {
    width: 100%;
    object-fit: contain;
}

.post__footer {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding:8px;
    margin: 0 14px;
    color: var(--gray-text-color);
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.post__activity {
    width: 45%;
    padding: 8px 8px;
    cursor: pointer;
    text-align: center;
}

.post__activity:hover {
    background: #e6e6e6;
    color: #2e2e2e;
}

/* Post comment */

.post__comment-area {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}

.post__user__comment {
    margin: 12px 14px;
    display: flex;
}

.post__user__comment-avatar {
    width: 36px;
    height: 36px;
}

.post__user__comment-body {
    padding: 6px 10px;
    margin-left: 12px;
    width: 100%;
    background: #f0f2f5;
    border-radius: 12px;
}

.post__user__comment-name {
    font-size: 16px;
    color: var(--gray-text-color);
}

.post__user__comment-content {
    padding-top: 4px;
    font-size: 18px;
    line-height: 22px;
    color: var(--gray-text-color);
}

.post__user__comment-setting {
    align-self: center;
    font-size: 12px;
    position: relative;
}

.post__user__comment-setting i {
    background: var(--white-color);
    padding: 8px;
    border-radius: 20px;
    margin-left: 4px;
}

.post__user__comment-setting i:hover {
    background: #f0f2f5;
}

.post__user__comment-setting-list {
    position: absolute;
    width: 170px;
    right: 0;
    border-radius: 8px;
    background: var(--white-color);
    z-index: 4;
    display: none;
}

.post__user__comment-setting-list::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 10px;
    top: -10px;
    color: transparent;
}

.post__user__comment-setting:hover .post__user__comment-setting-list {
    display: block;
}

.post__user__comment-setting-select {
    padding: 12px;
    font-size: 16px;
}

.post__user__comment-setting-select:last-of-type {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.post__user__comment-setting-select:hover {
    background: var(--blue-white-color);
    color: var(--gray-text-color);
}

.teleport__top {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.post__comment-load {
    width: 250px;
    margin: 8px 0 0 68px;
    padding: 8px;
    font-size: 17px;
    font-weight: 600;
    cursor: pot;
    cursor: pointer;
}

/* Post share */
.content__shared {
    margin: 0 16px 12px;
    padding: 12px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.content__shared-heading {
    display: flex;
    flex-direction: column;
}

.post__shared-username {
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0;
    display: block;
    color: var(--gray-text-color);
}

.post__shared-time {
    font-size: 13px;
    color: #4b4b4b;
}

.content__shared-body {
    padding: 12px 0;
    font-size: 18px;
    line-height: 22px;
    color: var(--text-color);
}

/* Move to top page */
.teleport__top a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    opacity: 0.8;
    width: 50px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}

.teleport__top i {
    font-size: 20px;
}


/* User page */
.white__background__wrap {
    width: 100%;
    height: auto;
    margin-top: var(--header-height);
    background: var(--white-color);
}

.user__info__wrap {
    width: 100%;
    padding: 40px;
    display: flex;
    align-items: center;
}

.user__info__avatar-box {
    width: 120px;
}

.user__info__avatar {
    width: 120px;
    object-fit: contain;
}

.user__info-box {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    color: var(--gray-text-color);
}

.user__info-realname {
    display: flex;
    padding: 4px 0;
    align-items: center;
    color: var(--text-color);
}

.user__info-post--public {
    display: flex;
    align-items: center;
    padding: 4px 0 12px;
    color: #727272;
    font-size: 16px;
}

.user__info-desc {
    padding: 8px 0;
    font-size: 18px;
    color: var(--gray-text-color);
    font-style: italic;
    line-height: 22px;
}

/* User profile */
.sidebar-list {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidebar-item {
    width: 100%;
}

.sidebar-link {
    display: flex;
    align-items: center;
    padding: 12px 8px;
    font-size: 16px;
    color: var(--gray-text-color);
}

.sidebar-link:hover {
    transition: 0.2s;
    border-left: 2px solid var(--primary-color);
}

.sidebar-link i {
    margin-right: 8px;
}

.form__profile {
    padding: 20px;
    width: 100%;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 12px;
}

.form__profile-heading {
    padding: 8px;
    font-size: 18px;
    color: var(--gray-text-color);
    position: absolute;
    top: -18px;
    background: var(--white-color);
}

.form__profile-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 0;
}

.form__profile-group label {
    padding: 8px 0;
    font-size: 16px;
    color: var(--gray-text-color);
}

.form__profile-input {
    width: 90%;
    padding: 8px 12px;
    font-size: 18px;
    border-radius: 12px;
    border: none;
    outline: none;
    background: var(--blue-white-color);
    resize: none;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.form__profile-gender {
    display: flex;
    align-items: center;
}

.form__profile-gender label {
    padding-right: 8px;
}

.profile__avatar {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.button__wrap {
    position: relative;
    z-index: 2;
}

.button__wrap label {
    font-size: 16px;
    padding: 8px 12px;
    background: var(--primary-color);
    border-radius: 8px;
    color: var(--white-color);
}

.button__wrap input {
    position: absolute;
    left: 5px;
    top: -3px;
    font-size: 14px;
    z-index: -1;
}

.copy__token {
    background: var(--blue-white-color);
    margin-left: 8px;
    padding: 8px 12px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
}

/* Search */
.post__mini {
    padding: 20px;
    min-height: auto;
}

.post__mini__heading {
    display: flex;
    align-items: center;
}

.post__mini__owner {
    margin-left: 14px;
    font-size: 20px;
    color: var(--gray-text-color);
}

.post__mini__body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 0;
    font-size: 16px;
}

.post__mini__content {
    color: var(--text-color);
    font-size: 18px;
    flex-grow: 2;
}

.post__mini-time {
    color: #666;
    font-size: 14px;
}

.post__mini__image-box {
    width: 100px;
    height: 100px;
    padding: 8px;
}

.post__mini-image {
    width: 100%;
    object-fit: contain;
}

.post__mini__footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 12px;
    border-top: 1px solid #ccc;
    font-size: 12px;
    color: var(--gray-text-color);
}

.post__mini__footer span {
    margin: 0 8px;
}

/* Edit post */
.edit__post-frame {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    display: none;
    animation: fadeIn ease-in 0.2s;
}

.form__edit__post {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.form__edit-heading {
    padding: 32px 0;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#close__edit {
    position: absolute;
    right: 20px;
    padding: 5px 10px;
    background: #d6d8df;
    border-radius: 20px;
    color: var(--gray-text-color);
}

.form__edit-body {
    padding: 16px;
}

.form__edit-body--top {
    display: flex;
    align-items: center;
    padding-bottom: 12px;
}

.edit__mode {
    width: 50px;
    text-align: center;
    background: #d6d8df;
    font-size: 12px;
    padding: 2px;
    border-radius: 12px;
    position: relative;
}

.form__edit-content {
    padding: 12px 0;
    font-size: 18px;
    color: var(--gray-text-color);
}

.mode-list {
    position: absolute;
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: var(--white-color);
    border-radius: 12px;
    top: 22px;
    left: 0;
    display: none;
    z-index: 6;
}

.mode-list::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 10px;
    top: -10px;
    color: transparent;
}

.mode-select {
    display: flex;
    width: 100%;
    padding: 12px 12px;
    font-size: 16px;
}

.mode-select:last-of-type {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.mode-select:hover {
    background: var(--blue-white-color);
    color: #515151;
}

.edit__mode:hover .mode-list{
    display: flex;
}

.form__edit__image {
    width: 100%;
    position: relative;
}

#edit-post-image {
    position: absolute;
    visibility: hidden;
}

.form__edit__image label {
    position: absolute;
    left: 0;
    margin-top: 10px;
    margin-left: 10px;
    padding: 8px 22px;
    background: var(--white-color);
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
}

.post__image {
    width: 100%;
    object-fit: contain;
}