<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="shortcut icon" href="../../assets/img/logo/cropped-logo-transparent.png" type="image/x-icon">
    <link rel="stylesheet" href="../../assets/css/base.css">
    <link rel="stylesheet" href="../../assets/css/grid.css">
    <link rel="stylesheet" href="../../assets/css/admin-style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="../../assets/js/chart.js"></script>
</head>
<body>
    <div class="grid">
        <div class="row no-gutters">
            <!-- Sidebar -->
            <div class="sidebar c-0">
                <div class="sidebar__log__box flex-row-center">
                    <a class="link__on__logo flex-row-center" href="">
                        <img class="logo__image" src="../../assets/img/logo/cropped-logo-transparent.png" alt="">
                    </a>
                </div>
                <ul class="sidebar__menu font-rajdhani">
                    <li class="sidebar__menu__item">
                        <span class="sidebar__tab tab__page--active">
                            <i class="fas fa-home pad-right-10"></i>
                            Trang chủ
                        </span>
                        <ul class="sidebar__tab-list">
                            <li class="sidebar__tab-page">
                                <a class="sidebar__tab-link tab__page--active" href="">Tổng quan</a>
                            </li>
                            <li class="sidebar__tab-page">
                                <a class="sidebar__tab-link" href="">Giới thiệu</a>    
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar__menu__item">
                        <span class="sidebar__tab">
                            <i class="fas fa-user-alt pad-right-10"></i>
                            Tài khoản
                        </span>
                        <ul class="sidebar__tab-list">
                            <li class="sidebar__tab-page">
                                <a class="sidebar__tab-link" href="">Danh sách</a>
                            </li>
                            <li class="sidebar__tab-page">
                                <a class="sidebar__tab-link" href="">Thêm tài khoản</a>    
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar__menu__item">
                        <span class="sidebar__tab">
                            <i class="fas fa-feather pad-right-10"></i>
                            Bài viết
                        </span>
                        <ul class="sidebar__tab-list">
                            <li class="sidebar__tab-page">
                                <a class="sidebar__tab-link" href="">Danh sách</a>
                            </li>
                            <li class="sidebar__tab-page">
                                <a class="sidebar__tab-link" href="">Bị cắm cờ</a>
                            </li>
                            <li class="sidebar__tab-page">
                                <a class="sidebar__tab-link" href="">Vi phạm</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- Right preview -->
            <div class="preview">
                <!-- Header -->
                <div class="header">
                    <div class="search__field l-4 m-0 c-0">
                        <span class="search__field__submit">
                            <i class="fas fa-search"></i>
                        </span>
                        <input class="search__field__input" type="text" name="name" placeholder="Tìm kiếm">
                    </div>
                    <div class="admin__field">
                        <span class="admin-username font-rajdhani">Admin</span>
                        <figure>
                            <img class="circle-avatar admin-avatar" src="../../assets/img/avatar/186608.jpg" alt="">
                        </figure>
                        <ul class="admin__action-list">
                            <li class="admin__action-item"> 
                                <a class="admin__action-link font-rajdhani" href="">
                                    Profile
                                    <i class="fas fa-cog"></i>
                                </a>
                            </li>
                            <li class="admin__action-item"> 
                                <a class="admin__action-link font-rajdhani" href="">
                                    Đổi mật khẩu
                                    <i class="fas fa-key"></i>
                                </a>
                            </li>
                            <li class="admin__action-item"> 
                                <a class="admin__action-link font-rajdhani" href="">
                                    Đăng xuất
                                    <i class="fas fa-sign-out-alt"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="content__wrapper mrg-top-40">
                    <div class="row no-gutters font-rajdhani">
                        <!-- Stretch card -->
                        <div class="l-4 m-6 c-12">
                            <div class="stretch__card">
                                <div id="user__count" class="stretch__card-heading">
                                    Post
                                </div>
                                <div class="stretch__card-body">
                                    80
                                </div>
                            </div>
                        </div>
                        <div class="l-4 m-6 c-12">
                            <div class="stretch__card">
                                <div id="onl__count" class="stretch__card-heading">
                                    Báo cáo
                                </div>
                                <div class="stretch__card-body">
                                    3
                                </div>
                            </div>
                        </div>
                        <div class="l-4 m-6 c-12">
                            <div class="stretch__card">
                                <div id="log__count" class="stretch__card-heading">
                                    Gỡ xuống
                                </div>
                                <div class="stretch__card-body">
                                    50
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Post area-->
                    <div class="post__area">
                        <!-- Post -->
                        <div class="row no-gutters font-rajdhani mrg-top-40 flex-row-center">
                            <div class="post__link l-8 m-10 c-12" href=""> 
                                <div class="post__box border-radius-smooth box-shadow-6">
                                    <div class="post__heading">
                                        <img class="circle-avatar post-avatar" src="../../assets/img/avatar/186608.jpg" alt="">
                                        <div class="post__own__username">Gaughegom</div>
                                        <span class="post__setting">
                                            <i class="fas fa-ellipsis-h"></i>
                                            <ul class="post__setting-list--admin box-shadow-6">
                                                <li class="post__setting-item">
                                                    Gỡ cờ
                                                </li>
                                                <li class="post__setting-item">
                                                    Gỡ bài viết
                                                </li>
                                            </ul>
                                        </span>
                                    </div>
                                    <a class="post__body" href="">
                                        <div class="post__content font-roboto-300">
                                            <span class="post__time">2021 06 13</span>
                                            <span class="post__content-dot"></span>
                                            Đây là post để test tính năng list danh sách post Đây là post để test tính năng list danh sách post Đây là post để test tính năng list danh sách post Đây là post để test tính năng list danh sách post 
                                        </div>
                                        <div class="post__image__box">
                                            <img class="post__image" src="../../assets/img/post/pixel-slide1.jpg" alt="">
                                        </div>
                                    </a>
                                    <div class="post__footer">
                                        <span id="comment_nums" class="post__detail">23 comments</span>
                                        <span id="shared_nums" class="post__detail">2 shares</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>